[user]
    name = Daniel Schreck
    email = daniel.s.schreck@gmail.com
[init]
    defaultBranch = main
[alias]
    a        = add
    aa       = add .
    ai       = add -i
    amend    = commit --amend
    amno     = commit --amend --no-edit
    b        = branch
    bl       = blame
    c        = commit
    cam      = commit -am
    cat      = cat-file -p
    churn    = ! git log --all -M -C --name-only --format='format:' "$@" | \
                 sort | grep -v '^$' | uniq -c | sort -n
    cl       = clean
    co       = checkout
    cp       = cherry-pick
    d        = diff
    da       = diff HEAD
    dl       = diff HEAD~ HEAD
    ds       = diff --staged
    f        = fetch
    h        = help
    last     = log -1 HEAD
    mg       = merge
    mgt      = mergetool
    pfwl     = push --force-with-lease
    r        = remote
    rb       = rebase
    rl       = reflog -10
    s        = status
    sh       = show
    ss       = status -s
    st       = stash
    sw       = switch
    t        = tag
    unstage  = reset HEAD --
    wt       = worktree
[core]
    excludesfile = ~/.dotfiles/.gitignore_global
    editor = vim
    pager = less
[diff]
	mnemonicprefix = true
[pretty]
    line = "%C(auto)%h %<|(60,trunc)%s %C(green)%ad%C(auto)%d"
    detail = "%C(auto)%h %s%n  %C(yellow)by %C(blue)%an %C(magenta)<%ae> [%G?] %C(green)%ad%n %C(auto)%d%n"
[advice]
	detachedHead = false
[merge]
    tool = vimdiff
[mergetool]
    keepBackup = false
[pull]
	ff = only
[push]
	default = simple
